<script id="eventPageTemplate" type="text/html">
	<div class="eventPage center">
        <h2>Title of the event</h2>

        <textarea id="title_field" class="topcoat-text-input" placeholder="Driving Test">{{title_field}}</textarea>
    
        <h2>What happened?
            <a href="#WhatHappenedInfo-popup" class="open-WhatHappenedInfo-link">
                <img src="img/infoIcon.png" class="infoButton" />
            </a>
        </h2>
        
        <textarea id="what_happened_field" class="topcoat-textarea" rows="6" cols="36" placeholder="I was in the house...">{{what_happened_field}}</textarea>
	</div>
        
    <div id="WhatHappenedInfo-popup" class="white-popup mfp-hide InfoPopup">
        <p>Describe the event. What actually happened? Where were you when it happened? When did it happen? Who were you with? Was there a specific trigger for the event?</p>
        
                <button class="topcoat-button symptomButton mfp-close">Ok</button>
    </div>    
    
    <form id="transfer" name="input" action="http://homepages.cs.ncl.ac.uk/patrick.mc-corry/wellbeing/setRecord.php" method="post">
    <input type="submit" value="Submit">
    <input type="hidden" id="data_field" name="data" />
    </form>
    
    <script type="text/javascript">
             //Pop up info section
        $('.open-WhatHappenedInfo-link').magnificPopup({
            src: '#WhatHappenedInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
        
$('#transfer').submit(function() {
                          alert(JSON.stringify(data));
                          
                          $('#data_field').val(JSON.stringify(data));
                          });
                          
    
    
    </script>
</script>

<!--This is for the feelings page -->
<script id="feelingPageTemplate" type="text/html">
	<div class="feelingPage center">
        <h2>Emotions
            <a href="#EmotionsInfo-popup" class="open-EmotionsInfo-link">
                <img src="img/infoIcon.png" class="infoButton" />
            </a>
        </h2>
    
        <div id="emotions">
        {{#emotion_box}}
        {{#link}}
            <div class="item">
                <p class="emotion-input">
                    <select style="width:80%;">
                        {{#options}}
                        <option value= "{{val}}" {{#sel}}selected{{/sel}}>{{txt}}</option>
                        {{/options}}
                    </select>
                </p>
                <p class="emotion-slider">
                    <input type="range" min="0" max="10" step="1" value={{emotion_slider_value}} class="topcoat-range-input">
                    <a href="#remove"><img class="emotion-icon-remove" src="img/glyphicons_207_remove_2.png" style="remove-img" /></a>
                </p>
            </div>
        {{/link}}
        {{/emotion_box}}
        </div>
    
        <div class="add-emotion">
            <p class="add_button_margin">
                <a id="new_emotion" class="clean_button"><img class="icon-add" src="img/glyphicons_190_circle_plus.png" />Add new emotion</a>
            </p>
        </div>
    
        <h2>Negative Thoughts
            <a href="#NegThoughtInfo-popup" class="open-NegThoughtInfo-link">
                <img src="img/infoIcon.png" class="infoButton" />
            </a>
        </h2>
    
        <div id="negative_thoughts">
            {{#feeling_negative_thoughts}}
            {{#link}}
            <div class="item">
                <textarea id="{{feeling_negative_thoughts_id}}" class="topcoat-text-input">{{feeling_negative_thoughts_value}}</textarea>
                <a href="#remove"><img class="icon-remove" src="img/glyphicons_207_remove_2.png" /></a>
            </div>
            {{/link}}
            {{/feeling_negative_thoughts}}
	   </div>
    
	   <p class="add_button_margin">
            <a id="new_neg" class="clean_button"><img class="icon-add" src="img/glyphicons_190_circle_plus.png" />Add new negative thought</a>
	   </p>
    
        <a class="openPhysicalSymptoms" href="symptomMap.html">
            <p id="new_physical" class="clean_button" style="margin-left:auto; margin-right:auto; width:140px;">Add Physical Symptoms</p>
        </a>

	</div>
    
    <div id="EmotionsInfo-popup" class="white-popup mfp-hide InfoPopup">
        <p>Describe the emotions that you felt during the event. Use the dropdown boxes to choose from a list of common emotions, or select the custom option to enter a new emotion. For each emotion use the slider bar to select the intensity of that emotion</p>
        <button class="topcoat-button symptomButton mfp-close">Ok</button>

    </div>
        
    <div id="NegThoughtInfo-popup" class="white-popup mfp-hide InfoPopup">
        <p>Describe some of the negative thoughts that you experienced as a result of the event. What thoughts did the event trigger that made it distressing for you? Start with your most distressing thought</p>
        <button class="topcoat-button symptomButton mfp-close">Ok</button>
    </div>    
    
	<script type="text/javascript">
        $('.openPhysicalSymptoms').click(function(){
            storeResults(previous_template_used);
            localStorage.setItem("active_data", JSON.stringify(data));
        });

        $("#new_emotion").click(function() {
            //var contains = $('#emotions').html();
            $('#emotions').append(new_emotion);
        });
    
        $("#new_neg").click(function() {
            //var contains = $('#negative_thoughts').html();
            $('#negative_thoughts').append(new_field);
        });
    
        $("select#select_emotions").change(function() {
            var value = $('#select_emotions').val();
                                       
            if (value == 13) {
                $('.emotion-input').html(new_emotion_textbox);
            }
        });                               
        //Pop up info section
        $('.open-EmotionsInfo-link').magnificPopup({
            src: '#EmotionsInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
        $('.open-NegThoughtInfo-link').magnificPopup({
            src: '#NegThoughtInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
	</script>
</script>

<!--This is for the behaviours page -->
<script id="behaviourPageTemplate" type="text/html">
	<div class="behaviourPage center">
        <h2> What did you do during the event?
            <a href="#ActionsInfo-popup" class="open-ActionsInfo-link">
                <img src="img/infoIcon.png" class="infoButton" />
            </a>    
        </h2>
    
        <div id="behaviours-during">
            {{#duringevent}}
            {{#link}}
            <div class="item">
                <textarea id="{{duringevent_id}}" class="topcoat-text-input">{{duringevent_value}}</textarea>
                <a href="#remove"><img class="icon-remove" src="img/glyphicons_207_remove_2.png" /></a>
            </div>
            {{/link}}
            {{/duringevent}}
        </div>
    
        <p class="add_button_margin"><a id="new_behaviour_dur" class="clean_button"><img class="icon-add" src="img/glyphicons_190_circle_plus.png" />Add new behaviour</a></p>
    
        <h2> What did you do after the event?
            <a href="#AfterActionsInfo-popup" class="open-AfterActionsInfo-link">
                <img src="img/infoIcon.png" class="infoButton" />
            </a>
        </h2>
    
        <div id="behaviours-after">
            {{#afterevent}}
            {{#link}}
            <div class="item">
                <textarea id="{{afterevent_id}}" class="topcoat-text-input">{{afterevent_value}}</textarea>
                <a href="#remove"><img class="icon-remove" src="img/glyphicons_207_remove_2.png" /></a>
            </div>
            {{/link}}
            {{/afterevent}}
        </div>
    
        <p class="add_button_margin"><a id="new_behaviour_aft" class="clean_button"><img class="icon-add" src="img/glyphicons_190_circle_plus.png" />Add new behaviour</a></p>
	</div>
    
    
    <div id="ActionsInfo-popup" class="white-popup mfp-hide InfoPopup">
        <p>Describe some of the things you did during the event</p>
        <button class="topcoat-button symptomButton mfp-close">Ok</button>

    </div>
        
    <div id="AfterActionsInfo-popup" class="white-popup mfp-hide InfoPopup">
        <p>Describe what you did after the event was over</p>
        <button class="topcoat-button symptomButton mfp-close">Ok</button>

    </div>    
    
    <script type="text/javascript">
        $("#new_behaviour_dur").click(function() {
            //var contains = $('#behaviours-during').html();
                                  
            $('#behaviours-during').append(new_field);
        });
        $("#new_behaviour_aft").click(function() {
            //var contains = $('#behaviours-after').html();
                                  
            $('#behaviours-after').append(new_field);
        });
                  
        //Pop up info section
        $('.open-ActionsInfo-link').magnificPopup({
            src: '#ActionsInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
        $('.open-AfterActionsInfo-link').magnificPopup({
            src: '#AfterActionsInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
    </script>
</script>

<script id="thinkPageTemplate" type="text/html">
	<div class="thinkPage center">
        <h2>Negative Thought </h2>
        <p class="negative-thought">{{key_negative_thought}}</p>

        <h2>For negative thought
            <a href="#ForNegInfo-popup" class="open-ForNegInfo-link">
                <img src="img/infoIcon.png" class="infoButton" />
            </a>
        </h2>
    
        <div id="container_for">
            {{#for_thoughts}}
            {{#link}}
            <div class="item">
                <textarea id="{{textarea_id}}" class="topcoat-text-input">{{textarea_value}}</textarea><a href="#remove"><img class="icon-remove" src="img/glyphicons_207_remove_2.png" /></a>
            </div>
            {{/link}}
            {{/for_thoughts}}
        </div>
    
        <p class="add_button_margin"><a id="new_for" class="clean_button"><img class="icon-add" src="img/glyphicons_190_circle_plus.png" /> Add new "for" reason</a></p>
    
        <h2>Against negative thought
            <a href="#AgainstNegInfo-popup" class="open-AgainstNegInfo-link">
                <img src="img/infoIcon.png" class="infoButton" />
            </a>
        </h2>
    
        <div id="container_against">
            {{#against_thoughts}}
            {{#link}}
            <div class="item">
                <textarea id="{{textarea_id}}" class="topcoat-text-input">{{textarea_value}}</textarea><a href="#remove"><img class="icon-remove" src="img/glyphicons_207_remove_2.png" /></a>
            </div>
            {{/link}}
            {{/against_thoughts}}
        </div>
    
        <p class="add_button_margin"><a id="new_against" class="clean_button"><img class="icon-add" src="img/glyphicons_190_circle_plus.png" /> Add new "against" reason</a></p>
    
        <h2>Balanced Thought
            <a href="#BalancedThoughtInfo-popup" class="open-BalancedThoughtInfo-link">
                <img src="img/infoIcon.png" class="infoButton" />
            </a>
        </h2>
        <textarea id="balanced_thought" class="topcoat-text-input large-text-box bottom_of_screen" rows="6" cols="20" >{{balanced_thought}}</textarea>

    </div>
        
    <div id="ForNegInfo-popup" class="white-popup mfp-hide InfoPopup">
        <p>In this area try and come up with arguments FOR the negative thought displayed above</p>
        <button class="topcoat-button symptomButton mfp-close">Ok</button>

    </div>             
    
    <div id="AgainstNegInfo-popup" class="white-popup mfp-hide InfoPopup">
        <p>Now try and come up with arguments AGAINST the negative thought</p>
        <button class="topcoat-button symptomButton mfp-close">Ok</button>

    </div>
        
    <div id="BalancedThoughtInfo-popup" class="white-popup mfp-hide InfoPopup">
        <p>Now that you have listed the pros and cons for the negative thought, try and use that evidence and come up with a more rational, balanced thought</p>
        <button class="topcoat-button symptomButton mfp-close">Ok</button>

        
    </div>    
    
    <script type="text/javascript">
        $("#new_for").on('click', function() {
            //var contains = $('#container_for').html();
                     
            $('#container_for').append(new_field);
        });
        $("#new_against").click(function() {
            //var contains = $('#container_against').html();
                       
            $('#container_against').append(new_field);
        });
                                                     
        //Pop up info section
        $('.open-MainNegInfo-link').magnificPopup({
            src: '#MainNegInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
        $('.open-ForNegInfo-link').magnificPopup({
            src: '#ForNegInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
        $('.open-AgainstNegInfo-link').magnificPopup({
            src: '#AgainstNegInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
        $('.open-BalancedThoughtInfo-link').magnificPopup({
            src: '#BalancedThoughtInfo-popup',
            type: 'inline',
            midClick: true,
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });
    </script>
</script>

<script id="newFieldTemplate" type="text/html">
    <div class="item">
        <textarea class="topcoat-text-input"></textarea>
        <a href="#remove"><img class="icon-remove" src="img/glyphicons_207_remove_2.png" /></a>
    </div>
</script>

<script id="emotionInputTemplate" type="text/html">
	<div class="item">
        <p class="emotion-input"><textarea class="topcoat-text-input"></textarea><a href="#remove"><img class="icon-remove" src="img/glyphicons_207_remove_2.png" /></a></p>
        <p class="emotion-slider"><input type="range" min="0" max="10" step="1" value="0"></p>
	</div>
</script>
