<script id="recordListTemplate" type="text/html">
    <h1>ok</h1>
    <ul class="topcoat-list">
        {{#list_item}}
            <li class="topcoat-list__item">{{title}}</li>
        {{/list_item}}
    </ul>
</script>