#body {
	background-image:url('../img/human_body.png'); 
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

@media (max-width: 480px) { 	
	#body {
		min-height: 500px;
		max-width: 480px;
	}
}	

@media (min-width: 480px) { 	
	#body {
		min-height: 500px;
		max-width: 500px;
	}
	
	body {
		width: 50%;
		margin: 0 auto;
	}
	
	
}	


