/*
This file contains modified behaviours of the original topcoat-mobile-dark.css file, 
these changes extend the current styles when needed.
*/
body{
    overflow:hidden;
    -webkit-overflow-scrolling:none;
    position:relative;
}

.secondary-Header{
    background:#fff;
}

.secondary-title{
    color:#016EA0 !important;
    font-size:16px !important;
}

.menuList{
    position:relative;
    margin:5%; 10% 0 10%;
}

.mainPageOption{
    position:relative;

    margin:5% 0;
    padding:3%;
    width:100%;
   
}

a{
    text-decoration:none;
}

.topcoat-icon--back {
    background: url("../img/search-bg2x.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.primaryBottom{
    position:fixed;
    display:block;
    width:100%;
    bottom:0;
    text-align:center;

}

.save{
    float:left;
}
.submit{
    float:right;
}

.selectedTab{
    background-color:#f33;
}

#form{
    position:relative;
    height:100%;
    width:100%;
    background-color:#fff;  
}

.formTouch {
    position: relative;
    height: 100%;
    width: 100%;
}

#form h1{
    color:#016EA0;
 padding:10px 0px;  
}

/* Changes Patrick McCorry 15/07/2013 for Evaluation Page */
.negative-thought {
    border: solid 1px #CCCCCC;
	background-color: #f9f9f9;
	display: table;
	padding: 4px;
	margin: 0px 10%;
    text-align: center;
}

h2 {
    font-size: 12pt;
    text-align: center;
}

.topcoat-text-input,
.topcoat-text-input--large {
    background-color: #fff;
    color: #000;
    height: 40px;
}

.bottom_of_screen {
    margin-bottom: 70px;
}

.large-text-box {
    height: 100px;
}

.icon-remove {
    margin-top: 15px;
    width: 14px;
    height: 14px;
}
.icon-add {
    margin-top: 14px;
    width: 14px;
    height: 14px;
}

.clean_button {
    background-color: #F8F8F8;
    color: #000;
    border: solid 1px #CCCCCC;
    padding: 5px;
}

.clean_button:active {
    background-color: #A4A4A4;
    border: #585858;
}

.add_button_margin {
    margin-bottom: 30px;
}