li {
	min-height: 60px;
    line-height: 60px; /* vertically align inside li element */
	border-style:solid;
	border-width: 1px;
	border-top: 0px;
}

li:first-child {
	border-style:solid;
    border-width: 1px;
}

ul {
	width: 80%;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
    vertical-align:middle;
}