.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
 
.page.centerleft{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.centerright {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
}
 
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.secondary-Header{
    background:#016EA0;
        color:#fff;
}

.secondary-title{
    font-size:16px;
}


.selectedTab {
    background-color: #fff;
    color: #016EA0
}

/* Daniel's changes */
#emotions {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.emotion-input {
    float: left;
    width:45%;
    clear:both;
}

.emotion-slider {
    float:right;
    vertical-align: middle;
    width:55%;
    margin-bottom: 5px;
}

.emotion-icon-remove {
    margin-bottom: 8px;
    width: 14px;
    height: 14px;
}

.add-emotion {
    width:100%;
    clear:both;
    margin-left: auto;
    margin-right: auto;
}

.topcoat-list__container-records {
  padding: 0;
  margin:auto;
  width:100%;
  font: inherit;
   color: #868888;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: none;
  -webkit-overflow-scrolling:none;
  border-top: 1px solid #eff1f1;
  border-bottom: 1px solid #eff1f1;
  background-color: #DDDEDE;
  border-radius:10px;
}