#settings {
    margin-top: 20px;
    text-align: center;
}

.setting {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    clear: both;
}

#pin-area {
    width: 100%;
}

.pin-item {
    width: 100%;
    height: 50%;
    clear: both;
}

.pin-text {
    width: 30%;
    float: left;
}

.pin-input {
    width: 70%;
    float: right;
}

#saveButtonContainer {
    width:80%;
    margin-left: auto;
    margin-right: auto;
}