
/*
This file contains modified behaviours of the original topcoat-mobile-dark.css file, 
these changes extend the current styles when needed.
*/
body {
    overflow-y:visible;
    position:relative;
}

/* 
 * Fix box-shadow (adding a background-color to a tab will hide the border) updating z-index will make sure border is always ontop 
 */
.topcoat-navigation-bar {
 z-index:
}
.secondary-Header{
    background:#fff;
}

.menuList{
    position:relative;
    margin:5%; 10% 0 10%;
}
.mainPageOption{
    position:relative;
    margin:5% 0;
    padding:3%;
    width:100%;
}
a {
    text-decoration:none;
}
.topcoat-icon--back {
    background: url("../img/back.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
background-repeat:no-repeat;}

.primaryBottom{
    position:fixed;
    display:block;
    width:100%;
    bottom:0;
    text-align:center;
}

.fixedPos{
    position:fixed;
    width:100%;
}

.save{
    float:left;
}
.submit{
    float:right;
}

.selectedTab{
    box-shadow: none;
    border-bottom: 1px solid black;
    background-color: #fff;
    
}

.formTouch {
    position: relative;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

#form h1{
    color:#fff;
    padding:10px 0px;  
}


/* Changes Patrick McCorry 15/07/2013 for Evaluation Page */
.negative-thought {
    border: solid 1px #CCCCCC;
	background-color: #f9f9f9;
	display: table;
	padding: 4px;
	margin: 0px 10%;
    text-align: center;
}

h2 {
    font-size: 12pt;
    text-align: center;
}

.topcoat-text-input,
.topcoat-text-input--large {
    background-color: #fff;
    color: #000;
    height: 40px;
}

.bottom_of_screen {
    margin-bottom: 70px;
}

.large-text-box {
    height: 100px;
}

.icon-remove {
    margin-top: 15px;
    width: 14px;
    height: 14px;
}
.icon-add {
    margin-top: 14px;
    width: 14px;
    height: 14px;
    padding-right:5px;
}

.clean_button {
    background-color: #F8F8F8;
    color: #000;
    border: solid 1px #CCCCCC;
    padding: 5px;
}

.clean_button:active {
    background-color: #A4A4A4;
    border: #585858;
}

.add_button_margin {
    margin-bottom: 30px;
}

.add-Symptom .add_button_margin {
    margin-bottom:0;
    margin-top:-15px;
}



/*Body map styles, added by David Easton 27/07/2013*/

.bodyMap{
 position:relative;
    margin:auto;
    margin-bottom:50px;
width:100%;
height:100%;
}

.bodyMap img{
    
}

.head{position:relative; margin:auto; display:block;}
.shoulders{position:relative; margin:auto; margin-top:0px; display:block;
}
.arms{display:block; position:relative; margin:auto; margin-top:0;}
.body{position:relative; margin:auto; margin-top:-155px; display:block;}
.legs{position:relative; margin:auto; margin-top:0; display:block;}



.white-popup {
     position: relative;
 background: #fff;
 text-align:center;
 width: 90%;
 margin:auto;
 color:rgb(18, 183, 179);
overflow:hidden;
 border-radius:5px;
 margin-bottom:0;
 margin-top:30px;
}

.symptomSelected{
    color:#036f3a; 
    /*background:#6da36d;
    */
    background-color:#EEe;
}

.infoButton{
position:absolute;
padding-left:10px;
}

.clean_button{
background-color:#1291cb;
color:#fff;
padding:10px;
    
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2{
    color:#1291cb;
    
}

.symptomButton{
width:100%;
height:4em;
}

symptom-Header{
    background-color:#fff;   
}

.symptom-slider{
    float:left;
    margin-top:1.5em;
    margin-left:1.25em;
    
  }
.symptom-slider + input{
float:right;
margin-top:1.75em;
margin-right:1.25em;
    
    
}

.topcoat-list__container {
    overflow-y:scroll;

}
.topcoat-list__item{ 
}
.topcoat-list__slider {
  margin: 0;
  padding:0.2rem;
 height:0;
overflow:hidden;
transition:2s width;
 background-color:#eee;
}
.slider-active {
 height:4em;
}

/*CHANGES MADE ON 26/09/2013*/


.InfoPopup p{
 padding:1em; 
 font-size:1.25em;
}

.recordArchive_list .topcoat-list-item, 
.recordArchive_list {
    background-color:#fff;   
}


.recordArchive_list h2{
    float:left;
    font-size:1.4em;
    margin-top:0.2em;
}
.recordArchive_list h3{
    float:right;
    font-size:1.1em;
    margin-top:0.2em;
}
.recordArchive_list p{
    position:relative;
   margin-top:3.5em;
   text-align:left;
    word-wrap:break-word;
    
}

.loadingGif{
margin-top:-2em;
padding:1em;    
}



.moreInfo_list h2{
    float:left;
    font-size:1.4em;
    margin-top:0.2em;
}
.moreInfo_list h3{
    float:right;
    font-size:1.1em;
    margin-top:-1em;
}
.moreInfo_list p{
    position:relative;
   margin-top:0em;
   text-align:left;
    word-wrap:break-word;
    margin-bottom:-0.2em;
    
}
.moreInfo_list .topcoat-button{
padding:0.0em;
padding-left:0.2em;
padding-right:0.2em;
font-size:0.95em;

}

.record-back{
    background-color:#045980;
    border:#fff;
}

#incorrect-pass {
    color: red;
}

.archive-icon-remove {
	margin-left:4px;
}